@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&display=swap');

body {font-family:sans-serif; background:; font-size:17px; color:;}

.blind {display:none;}

header {position:fixed; width:100%; background:rgb(0,0,0,0.5); z-index:100;}
#header_in {margin:auto; width:1400px; height:80px;}
header h1 {}

header ul {float:right; margin-top:30px;}
header li {display:inline-block; margin-left:50px;}
header li a {color:rgb(255, 255, 255, 0.3); font-size:15px;}

#header_in li a:hover, #header_in li.on a {color:#fff;}

h2 {font-family:'Anton',sans-serif; font-size:70px; margin-bottom:25px;}
.h2_kr {font-family:'Black Han Sans',sans-serif; font-size:67px; letter-spacing:-3px;}
p {line-height:22px; margin-bottom:80px;}
table {margin-bottom:25px;}
tr {height:25px;}
.tit {width:80px; font-weight:bold; margin-right:15px;}
.image_box img {width:100%; height:auto;}
.btn {}
.btn a {background:rgba(136,136,136,0.3); font-size:14px; color:#000; padding:8px 20px;}
.btn1 {border-radius:20px 0 0 20px;}
.btn2 {}
.btn3 {border-radius:0 20px 20px 0;}
.btn4 {border-radius:20px;}
.btn a:hover {background:rgba(136,136,136,1); color:#fff; font-weight:bold; cursor:pointer; transition:0.3s;}


#view {}
section {position:relative;}
.con_box {position:relative; top:26%; width:1400px; margin:auto; height:550px;}
.bgcolor {background:rgb(246, 248, 255);}


/**************** 대문이미지 ****************/
#section1 {position:relative; background-size:cover; background-position:center center; background-image:url(../img/main.jpg);}


/**************** 인적사항, 자기소개 ****************/
#section2 {background:url("../img/section2_bg.jpg"); background-size:cover;}
#section2 .con_box {position:relative; top:32%; width:1200px; color:#babbc7;}
#section2 .txt_box {}
#section2 .txt_box p {font-size:22px; margin-bottom:40px;}
#section2 .txt_box span {color:#CC5154;}
.section2_btn::before {display:block; content:""; width:100%; height:1px; background:#babbc7; margin-top:70px; margin-left:-60%;}
.section2_btn a {position:relative; top:-9px; background:#17181D; font-size:14px; color:#babbc7; padding:8px 20px; border:1px solid #babbc7; margin-left:420px;}
.section2_btn a:hover {border:1px solid #CC5154; background:#CC5154; color:#fff; font-weight:bold; cursor:pointer;}
/*
#section2 .picture {width:300px; height:300px; background:#080403 url("../img/profile.jpg") no-repeat; background-size:100%; background-position:10px bottom; border-radius:50%;}
*/

/**************** 디자인 포트폴리오 - 고양이왕국 ****************/
#section3 {}
#section3 .txt_box {position:absolute; right:60%; margin-top:80px; color:#000;}
#section3 .image_box {position:absolute; left:35%; width:865px; height:auto;}


/**************** 디자인 포트폴리오 - 교육인생이모작지원센터 ****************/
#section4 {}
#section4 .txt_box {position:absolute; left:60%; margin-top:80px; color:#000;}
#section4 .image_box {position:absolute; right:48%; width:865px; height:auto;}


/*
#section4 .txt_box {float:right; margin-top:80px; color:#000; border:1px solid green;}
#section4 .image_box {float:left; margin-left:-200px; width:865px; height:500px; border:1px solid green;}
*/


/**************** 디자인 포트폴리오 - 기아자동차 ****************/
#section5 {}
#section5 .txt_box {position:absolute; right:60%; margin-top:80px; color:#000;}
#section5 .image_box {position:absolute; left:35%; width:865px; height:auto;}


/**************** 디자인 포트폴리오 ****************/
#section6 {padding:200px 0;}

ul:after {display:block; content:""; clear:both;}

nav {text-align:center;}
nav ul {display:inline-block; margin-bottom:25px;}
nav li {float:left; padding:5px 20px; margin:0 3px;}
nav a {display:inline-block; color:#808080; font-size:18px; line-height:25px;} 

nav a:hover, nav a.on {color:#000; transition:0.3s;}

.thumb {position:absolute; top:40%; left:50%; transform:translate(-50%); width:1205px; text-align:center;}
.thumb li {position:relative; float:left; width:280px; height:280px; overflow:hidden; margin:10px; border:1px solid #ddd; box-sizing:border-box;}
.thumb a {display:inline-block;}
.thumb img {width:100%;}
.thumb .cover {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.7); opacity:0; transition:0.8s;}
.thumb .cover p {position:relative; top:-45%; text-align:center; color:#fff; font-size:20px; line-height:25px; transition:0.5s;}

.thumb li:hover img {filter:blur(2px);}
.thumb li:hover .cover {opacity:1;}
.thumb li:hover .cover p {top:45%;}


/**************** 컨택트, 마무리 ****************/
#section7 {position:relative; background-size:cover; background-position:center center; background-image:url(../img/main_end.jpg); text-align:center;}
#section7 .con_box {position:relative; top:30%; width:100%; margin:auto;}
#section7 .txt_box {color:#fff;}
.txt_box .contact_me {font-size:35px;}
#section7 .txt_box span {display:inline-block; font-size:25px; background:#CC5154; border-radius:5px; padding:5px 15px; margin:0 10px 0 25px;}
.end_box {position:absolute; width:100%; margin:auto; bottom:5%;}
.end_box .notice {font-size:13px; margin-bottom:7px; color:rgba(255,255,255,0.2);}
.end_box .notice small {font-size:13px; color:rgba(255,255,255,0.2);}


/*
.s_num{position:fixed; top:100px; left:50px; border:3px solid yellow; font-size:50px; color:yellow;}
*/

/* 리모트 버튼 */
#remote {position:fixed; top:50%; left:50px; transform:translateY(-50%); background:rgba(255, 255, 255, 0.3); border-radius:20px; box-shadow:rgba(0, 0, 0, 0.1) 0 0 8px; z-index:100;}
#remote a {display:block; background:#eee; width:9px; height:9px; text-indent:-9999px; margin:18px 8px; border-radius:50%;}
/* #remote a:hover {background:#666; width:10px; height:10px;} */
#remote a.on {background:#fd4548;}




@media (max-width:1399px){
    #header_in {margin:auto; width:100%; height:80px;}
};
